In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("cme_events.csv")
data.head()

,Sno,source location,date,time,angular width,vcdaw,space speed,final height 2nd order speed [km/s],20 RS 2nd order speed [km/s],accel [m/s^2],...,meanB [nT],MC?,V_transit [km/s],transit time [hrs],ICME size [Rs],ICME min Bz,sheath speed [km/s],sheath size [Rs],sheath DST [nT],sheath Bz
0,1,NaN,1996/12/19,16:30,130,469.0,NaN,---,---,---,...,10.0,2,435,95,NaN,NaN,NaN,NaN,NaN,NaN
1,2,S18E06,1997/01/06,15:10,360,136.0,232.0,224,319,4.1,...,14.0,2,507,81,NaN,NaN,NaN,NaN,NaN,NaN
2,3,S38W31,1997/02/07,0:30,360,490.0,584.0,718,635,14.3,...,8.0,2,683,60,NaN,NaN,NaN,NaN,NaN,NaN
3,4,S28E19,1997/04/07,14:27,360,878.0,1115.0,905,896,3.3,...,20.0,2,552,74,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,1997/05/12,5:30,360,464.0,749.0,335,220,-15.0*1,...,21.0,2,616,67,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
drop_col=['Sno']
data.drop(drop_col, inplace=True, axis=1)
data.head()

,source location,date,time,angular width,vcdaw,space speed,final height 2nd order speed [km/s],20 RS 2nd order speed [km/s],accel [m/s^2],mass [g],...,meanB [nT],MC?,V_transit [km/s],transit time [hrs],ICME size [Rs],ICME min Bz,sheath speed [km/s],sheath size [Rs],sheath DST [nT],sheath Bz
0,NaN,1996/12/19,16:30,130,469.0,NaN,---,---,---,5.1e+14*2,...,10.0,2,435,95,NaN,NaN,NaN,NaN,NaN,NaN
1,S18E06,1997/01/06,15:10,360,136.0,232.0,224,319,4.1,5.8e+14*2,...,14.0,2,507,81,NaN,NaN,NaN,NaN,NaN,NaN
2,S38W31,1997/02/07,0:30,360,490.0,584.0,718,635,14.3,4.1e+15*2,...,8.0,2,683,60,NaN,NaN,NaN,NaN,NaN,NaN
3,S28E19,1997/04/07,14:27,360,878.0,1115.0,905,896,3.3,1.0e+16*2,...,20.0,2,552,74,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1997/05/12,5:30,360,464.0,749.0,335,220,-15.0*1,4.2e+15*2,...,21.0,2,616,67,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(290, 42)

In [5]:
data.columns

Index(['source location', 'date', 'time', 'angular width', 'vcdaw',
       'space speed', 'final height 2nd order speed [km/s]',
       '20 RS 2nd order speed [km/s]', 'accel [m/s^2]', 'mass [g]', 'KE [erg]',
       'MPA [deg]', 'source type', 'NOAA', 'onset time', 'hale class',
       'flare class', 'flare date', 'flare time', 'ICME dist date',
       'ICME dist time', 'plasma start date', 'plasma start time',
       'plasma end date', 'plasma end time', 'comp start', 'comp end', 'qual',
       'dv [km/s]', 'V_ICME [km/s]', 'min DST ICME [nT]', 'V_max [km/s]',
       'meanB [nT]', 'MC?', 'V_transit [km/s]', 'transit time [hrs]',
       'ICME size [Rs]', 'ICME min Bz', 'sheath speed [km/s]',
       'sheath size [Rs]', 'sheath DST [nT]', 'sheath Bz'],
      dtype='object')

In [6]:
data.dtypes

source location                         object
date                                    object
time                                    object
angular width                           object
vcdaw                                  float64
space speed                            float64
final height 2nd order speed [km/s]     object
20 RS 2nd order speed [km/s]            object
accel [m/s^2]                           object
mass [g]                                object
KE [erg]                                object
MPA [deg]                              float64
source type                             object
NOAA                                   float64
onset time                              object
hale class                              object
flare class                             object
flare date                              object
flare time                              object
ICME dist date                          object
ICME dist time                          object
plasma start date                       object
plasma start time                       object
plasma end date                         object
plasma end time                         object
comp start                              object
comp end                                object
qual                                    object
dv [km/s]                               object
V_ICME [km/s]                          float64
min DST ICME [nT]                       object
V_max [km/s]                           float64
meanB [nT]                             float64
MC?                                     object
V_transit [km/s]                        object
transit time [hrs]                      object
ICME size [Rs]                          object
ICME min Bz                            float64
sheath speed [km/s]                    float64
sheath size [Rs]                       float64
sheath DST [nT]                        float64
sheath Bz                              float64
dtype: object

In [7]:
data.describe()

,vcdaw,space speed,MPA [deg],NOAA,V_ICME [km/s],V_max [km/s],meanB [nT],ICME min Bz,sheath speed [km/s],sheath size [Rs],sheath DST [nT],sheath Bz
count,286.000000,182.000000,285.000000,267.000000,287.000000,273.000000,273.000000,75.000000,73.00000,73.000000,67.000000,69.000000
mean,788.423077,1202.120879,187.708772,10835.651685,492.423031,571.062271,12.765568,-11.378667,566.60274,28.904110,-60.791045,-8.266667
std,497.226976,547.326689,102.716464,1584.881669,158.422619,179.267217,30.030070,9.019413,157.64832,18.683151,59.499819,6.700893
min,104.000000,129.000000,0.000000,8009.000000,310.000000,310.000000,1.000000,-45.900000,338.00000,1.000000,-383.000000,-32.300000
25%,441.500000,838.500000,90.000000,9408.500000,400.000000,460.000000,7.000000,-15.250000,464.00000,15.000000,-76.500000,-10.200000
50%,673.000000,1108.500000,189.000000,10930.000000,460.000000,530.000000,10.000000,-8.900000,541.00000,24.000000,-41.000000,-6.600000
75%,1061.000000,1415.750000,275.000000,12058.000000,525.000000,650.000000,14.000000,-5.450000,634.00000,40.000000,-23.000000,-4.100000
max,3387.000000,3656.000000,358.000000,13514.000000,1631.000000,1900.000000,500.000000,-0.100000,1161.00000,80.000000,-1.000000,-0.300000

In [10]:
data.isna().sum()

source location                        137
date                                     0
time                                     3
angular width                            4
vcdaw                                    4
space speed                            108
final height 2nd order speed [km/s]      6
20 RS 2nd order speed [km/s]             6
accel [m/s^2]                            6
mass [g]                                 6
KE [erg]                                 6
MPA [deg]                                5
source type                              1
NOAA                                    23
onset time                              18
hale class                              23
flare class                            142
flare date                             226
flare time                             226
ICME dist date                          10
ICME dist time                          10
plasma start date                        0
plasma start time                        0
plasma end date                          0
plasma end time                          0
comp start                             150
comp end                               151
qual                                     3
dv [km/s]                               14
V_ICME [km/s]                            3
min DST ICME [nT]                        0
V_max [km/s]                            17
meanB [nT]                              17
MC?                                     17
V_transit [km/s]                         7
transit time [hrs]                       0
ICME size [Rs]                         211
ICME min Bz                            215
sheath speed [km/s]                    217
sheath size [Rs]                       217
sheath DST [nT]                        223
sheath Bz                              221
dtype: int64